/*  Here is where the font styles start */

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}

h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}

h1, h2 {
    font-family: 'Rowdies', cursive;
}

body {
    color : $font-third-color;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none !important;
    font-weight: bold;
    color: $primary-color;
}

a:hover { 
    color: $font-primary-color;
}

aside {

    a {
        color: $font-secondary-color;
        font-weight: bold;
 
    }

    a:hover {
        color: $font-third-color;
    }

    h1, h2 {
        color: $font-secondary-color;
    }

}

.manage-module {
    color: $font-primary-color;
}