/*  Here is where the font styles start */

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}

h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}

h1, h2 {
    color: #333;
}

body {
    color : $font-third-color;
}

aside {

    a {
        color: $font-secondary-color;
        font-weight: bold;
        text-decoration: none !important;
        :hover {
            color: $font-primary-color;
            text-decoration: none !important;
        }
    }

}