/*  Here is where the font styles start */

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}

h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}

body {
    color : $font-third-color;
}

a {
    text-decoration: none !important;
}

aside {

    a {
        color: $font-secondary-color;
        font-weight: bold;
        :hover {
            color: $font-primary-color;
        }
    }

    h1, h2 {
        color: $font-secondary-color;
    }

}

.manage-module {
    color: $font-primary-color;
}