/*  Here are where the header styles start */

header {
    margin: 0;
    background-color: $primary-color;

    .app-name {
        margin-left: 15px;
    }

    .school-name {
        margin-right: 15px;
        color: $font-primary-color;
    }
    
    a{
        color: $font-secondary-color;
    }
}

