/*  Here are where the side bar styles start */

aside {
    float: left;
    width: 20%;
    height: 100%;
    background-color: $third-color;
    padding-left: 15px;
    padding-right: 15px;

    .manage-module {
        color: $primary-color;
    }
}
