//  Here are where the variables start

$primary-color: rgb(59, 21, 97) !important;
$secondary_color: white !important;
$font-primary-color: rgb(212, 165, 33) !important;
$font-secondary-color: white !important;
$font-third-color: rgb(17, 17, 17) !important; 